[submodule "datasets/graffiti_dataset"]
	path = datasets/graffiti_dataset
	url = https://github.com/pavelkraleu/graffiti-dataset.git
[submodule "demo/safari"]
	path = demo/safari
	url = https://github.com/DenizUgur/SAFARI.git
